/target
**/*.rs.bk
libraries/test-protocol/target
example/target
Cargo.lock
.vscode/

/libraries/*/src/*_autogen/*
/example/src/*_autogen/*
/src/*_autogen/*

/libraries/*/schema_urls/*
/example/schema_urls/*
/schema_urls/*
